/*报警记录*/

a {
	text-decoration: none;
	color: #FFFFFF;
}
ul{
	list-style: none;
}
.center {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 20px;
}

.table_layout tr td:nth-child(2n-1){
	padding: 0 5px;
	box-sizing: border-box;
}
.width {
	width: 120px;
}
.width1 {
	width: 80px;
}

.time {
	width: 100px;
}

.btn span,.export {
	display: inline-block;
	width: 60px;
	height: 30px;
	border: 1px solid #BBBBBB;
	background: #075EA2;
	outline: none;
	/*margin-left: 20px;*/
	text-align: center;
	line-height: 30px;
	border-radius: 5px;
	cursor: pointer;
	color: #FFFFFF;
}

.btn span:hover {
	background: #032E50;
}

.easyui-datagrid thead tr th {
	width: 200px!important;
}

.easyui-datagrid {
	width: 100%;
}

.easyui-datagrid thead {
	width: 100% !important;
}

.easyui-datagrid thead tr {
	width: 100% !important;
}


/*违规处理*/

.alert_box {
	margin-left: 10px;
}

.style {
	width: 178px;
}

.min {
	width: 100px;
	border-radius: 5px;
	outline: none;
	border: 1px solid gainsboro;
}

.person {
	width: 100px;
}

#pReason {
	width: 206px;
	border: 1px solid #ccc;
	padding: 2px;
	height: 80px;
	font-size: 12px;
	resize: none;
/*	margin-left: 25px;*/
	border-radius: 5px;
	outline: none;
}

.alert_box p:nth-child(4) span {
	vertical-align: top;
}

.alert_box p:nth-child(5) {
	text-align: center;
}

.alert_box p:nth-child(5) button {
	width: 60px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background: dodgerblue;
	color: #FFFFFF;
	outline: none;
	cursor: pointer;
	border-radius: 5px;
	margin-right: 10px;
}


/*指令管理*/

.easyui-linkbutton {
	width:63px;
	height: 30px;
	background: #075EA2;
	border-radius: 5px;
	color: #FFFFFF;
	text-align: center;
	line-height: 30px;
	margin: 10px 5px;
}
.clear_btn{
	width:120px;
}
/*发送图标*/
.icon-redo1{
	width: 15px;
    height: 16px;
    background: url(../images/model01_level03.png) no-repeat;
    background-position: 0 -14px;
    margin-top: -8px;
}
.data_mes{
	width: 100%;
	display: none;
}
.data_mes div{
	width: 100%;
	padding: 10px 0;
	text-align: center;
}
.data_mes a{
	display: block;
	margin: 20px auto;
}
/*车辆点名*/

.name_btn,.se_btn{
	display: block;
	/*width: 80px;
	height: 35px;
	background: #075EA2;
	border-radius: 5px;
	color: #FFFFFF;
	text-align: center;
	line-height: 35px;*/
	margin: 15px auto;
	/*outline: none;*/
}
.se_btn{
	width: 60px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	outline: none;
	margin-left: 10px;
}

/*短信下发*/

#south div {
	margin: 10px 0 5px 20px;
}

#south div:nth-child(1) input {
	vertical-align: middle;
	margin-left: 10px;
}

#south .a {
	width: 1200px!important;
	height: 60px;
	border-radius: 5px;
	margin-left: 20px;
	border: 1px solid gainsboro;
	outline: none;
}
/*定时点名*/
.btn .name{
	width: 80px;
}
/*点名记录*/
.table2 tr td{
   width: 60px;	
}
.table2 tr td:nth-child(2n){
   width:59px!important;
   text-align: left;	
}
.table3{
	width: 100%;
	height: 50px;
	border: 1px dashed #D4D4D4;
}
.table3 tr th{
	background: #89BCF1;
	border-right:1px dashed #D4D4D4 ;
	text-align: center;
	height: 28px;
	color: #FFFFFF;
}
.table3 tr td{
	border-right:1px dashed #D4D4D4 ;
	text-align: center;
	height: 25px;
}
/*定时拍照*/
.tree_show{
	top: 52px;
    left: 171px;
}
.input_width{
	width: 153px;
}
/*任务名称*/
#photograph_param_form{
	margin: 5px 10px;
}
/*图片质量*/
.slider_pic{
	position: relative;
	box-sizing: border-box;
	padding-left: 77px;
	margin: 15px 0;
}
.slider_pic .buttononbar{
	position: absolute;
	top: 0;
	left:0px;
}
.slider_pic .buttononbar1{
	position: absolute;
	top: 3px;
    right: 7px;
}
/*状态检测*/
.table_layout tr td .set_btn{
	width: 100px;
}
.table_layout tr td .result_btn{
	width: 100px;
}
/*音频记录*/
.delete{
	position: absolute;
	top: 9px;
    left: 154px;
}
/*黑名单管理*/
.del{
	left: 219px!important;
}
.export_btn{
	margin-left: 67px;
}
.table_window{
	width: 50%;
	margin: 5px 0 0 10px;
}
.table_window tr td:nth-child(1){
	width: 40px;
	height: 30px;
	text-align:right;
}
.table_window tr td:nth-child(2){
	width: 100px;
	height: 30px;
}
/*驾驶员安全统计*/
.contain{
	width: 100%;
	height: 100%;
	padding-top: 20px;
}
.table1{
	width: 60%;
}
.table1 tr td{
	width: 100px;
}
.table1 tr td:nth-child(2n-1){
	text-align: right;
}
.select{
	width: 120px;
}
/*单位安全等待评级*/
.tab_win{
	width: 100%;
}
.tab_win tr td{
	width: 100px;
	height: 30px;
}
.tab_win tr td:nth-child(2n-1){
	text-align: right;
}
/*公务用车申请*/
.car_shenqing{
	margin-top: 20px;
	width: 100%;
}

.a{
	display: none;
}
.type_input,.add_btn,.del_btn{
	float: left;
}
.type_input{
	margin-top: 16px;
}
.add_btn,.del_btn{
	width: 75px;
	font-size: 12px;
}
.btn_all{
	width: 100%;
	text-align: center;
}
.btn_all a{
	width: 50px;
}
.more,.less{
	cursor: pointer;
}
.right_box{
	width: 289px;
    height: 315px;
    position: absolute;
    top: 84px;
    right: 11px;
}
.right_box .left,.right{
	width: 20px;
	height: 398px;
	float: left;
}
.right_box .left{
	box-sizing: border-box;
	padding-top: 145px;
}
.right_box .right{
	width: 255px;
	border: 1px solid gray;
	float: right;
	overflow-y:auto;
	cursor: default;
	height: 100%;
}
.right_dlg4{
	width: 286px;
	position: absolute;
	top: 39px;
    right: 10px;
    height: 433px;
}
.right_dlg4 .left_dl,.right_dl{
	width: 20px;
	height: 398px;
	float: left;	
}

.right_dlg4 .left_dl{
	box-sizing: border-box;
	padding-top: 145px;
}
.right_dl{
    width: 255px;
	border: 1px solid gray;
	float: right;
	overflow-y:auto;
	height: 360px;
	cursor: default;
}
.lag{
	display: inline-block;
	width: 18px;
	height: 30px;
	background: dodgerblue;
	text-align: center;
	line-height: 30px;
	border-radius:5px;
	color: #FFFFFF;
	margin-left: 5px;
	cursor: pointer;
}
.table0{
	width: 70%;
}
/*未调派*/
.ser_btn{
	width: 82px;
}
.more_less{
	cursor: pointer;
}
.table_mes{
	width: 80%;
}
.table_mes tr td{
	/*width:80px;*/
	height: 40px;
}
.input_width{
	width: 90px;
}
.child_tab{
	width: 60%;
	border: 1px solid gainsboro;
}
.child_tab tr th{
	text-align: center;
	height: 30px;
	background: lightskyblue;
	color: #FFFFFF;
}
.child_tab tr td{
	text-align: center;
	height: 30px;
	border-left: 1px solid gainsboro;
	border-bottom: 1px solid gainsboro;
}
/*综合分析*/
/*.panel_table1{
	width: 100%;
	height:500px;
	box-sizing: border-box;
}
.panel_table1 tr td{
	width: 33.333%;
	padding: 10px;
}*/
.top_title{
	width: 100%;
	height: 10%;
}
.center_title{
	width: 100%;
	height: 90%;
	box-sizing: border-box;
}
.panel_ul{
	width: 100%;
	height:100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.panel_ul li{
	width: 33.333333%;
	height: 50%;
	float: left;
	box-sizing: border-box;
	padding: 5px;
}
.panel_ul li .panel_win{
	border: 1px solid #a9bee6;
	overflow: hidden;
}
.safe_statis,.diaodu_statis,.jiankong_statis,.jianguan_statis,.cheliang_statis,.yunxing_statis,.renyuan_statis,.yunshu_statis{
	width: 20px;
	height: 20px;
	margin:-10px 0 0 52px;	
	background: url(../images/model06_level0.png) no-repeat;
	background-position: 0px -180px;
}
.diaodu_statis{
	background-position: 0px -140px;
}
.jiankong_statis{
	background-position: 0px -260px;
}
.jianguan_statis{
	background-position: 0px -219px;
}
.cheliang_statis{
	background-position: 0px -19px;
}
.yunxing_statis{
	background-position: 0px -60px;
}
.renyuan_statis{
	background-position: 0px -100px;
}
.yunshu_statis{
	background-position: 0px -180px;
}



.accordion-header-selected .safe_statis{
	background-position: 0px -160px;
}
.accordion-header-selected .diaodu_statis{
	background-position: 0px -201px;
}
.accordion-header-selected .jiankong_statis{
	background-position: 0px -240px;
}
.accordion-header-selected .jianguan_statis{
	background-position: 0px -40px;
}
.accordion-header-selected .cheliang_statis{
	background-position: 0px 0px;
}
.accordion-header-selected .yunxing_statis{
	background-position: 0px -119px;
}
.accordion-header-selected .renyuan_statis{
	background-position: 0px -81px;
}
.accordion-header-selected .yunshu_statis{
	background-position: 0px -160px;
}
.zonhhe_left li a span{
	width: 20px;
	height: 19px;
	vertical-align: middle;
	margin-right: 5px;
	background: url(../images/model06_level01.png) no-repeat;
}
.zonhhe_left li a .span-icon1{
	background-position: 0px -288px;
}
.zonhhe_left li a .span-icon2{
	background-position: 0px -359px;
}
.zonhhe_left li a .span-icon3{
	background-position: 0px -448px;
}
.zonhhe_left li a .span-icon4{
	background-position: 0px -215px;
}
.zonhhe_left li a .span-icon6{
	background-position: 0px -323px;
}
.zonhhe_left li a .span-icon5{
	background-position: 0px -305px;
}
.zonhhe_left li a .span-icon7{
	background-position: 0px -774px;
}
.zonhhe_left li a .span-icon8{
	background-position: 0px -107px;
}
.zonhhe_left li a .span-icon9{
	background-position: 0px -89px;
}
.zonhhe_left li a .span-icon10{
	background-position: 0px -594px;
}
.zonhhe_left li a .span-icon11{
	background-position: 0px -432px;
}
.zonhhe_left li a .span-icon12{
	background-position: 0px -720px;
}
.zonhhe_left li a .span-icon13{
	background-position: 0px -701px;
}
.zonhhe_left li a .span-icon14{
	background-position: 0px -701px;
}
.zonhhe_left li a .span-icon15{
	background-position: 0px -756px;
}
.zonhhe_left li a .span-icon16{
	background-position: 0px -144px;
}
.zonhhe_left li a .span-icon17{
	background-position: 0px -53px;
}
.zonhhe_left li a .span-icon18{
	background-position: 0px -126px;
}
.zonhhe_left li a .span-icon19{
	background-position: 0px -415px;
}
.zonhhe_left li a .span-icon20{
	background-position: 0px -630px;
}
.zonhhe_left li a .span-icon21{
	background-position: 0px -649px;
}
.zonhhe_left li a .span-icon22{
	background-position: 0px -269px;
}
.zonhhe_left li a .span-icon23{
	background-position: 0px -611px;
}
.zonhhe_left li a .span-icon24{
	background-position: 0px -34px;
}
.zonhhe_left li a .span-icon25{
	background-position: 0px -521px;
}
.zonhhe_left li a .span-icon26{
	background-position: 0px -504px;
}
.zonhhe_left li a .span-icon27{
	background-position: 0px -574px;
}
.zonhhe_left li a .span-icon28{
	background-position: 0px -468px;
}
.zonhhe_left li a .span-icon29{
	background-position: 0px -378px;
}
.zonhhe_left li a .span-icon30{
	background-position: 0px -341px;
}
.zonhhe_left li a .span-icon31{
	background-position: 0px -739px;
}
.zonhhe_left li a .span-icon32{
	background-position: 0px -791px;
}
.zonhhe_left li a .span-icon33{
	background-position: 0px -252px;
}
.zonhhe_left li a .span-icon34{
	background-position: 0px -486px;
}
.zonhhe_left li a .span-icon34{
	background-position: 0px -486px;
}
.zonhhe_left li a .span-icon35{
	background-position: 0px -161px;
}
.zonhhe_left li a .span-icon36{
	background-position: 0px 1px;
}
.zonhhe_left li a .span-icon37{
	background-position: 0px -665px;
}
.zonhhe_left li a .span-icon38{
	background-position: 0px -395px;
}
.zonhhe_left li a .span-icon39{
	background-position: 0px -683px;
}
/*违规汇总统计*/
body,html{
	width: 100%;
	height: 100%;
}
.report_box,.report_box1,.report_box2{
	width: 30px;
	height: 30px;
	background: url(../images/report.png) no-repeat;
}
.chart_box,.chart_box1,.chart_box2{
	width: 30px;
	height: 30px;
	background: url(../images/highchart.png) no-repeat;
}
/*预警记录*/
.yujing{
	/*display: block;*/
	top: 57px;
	left: 11px;
	width: 122px;
	height: 109px;
}
/*照片管理*/
.pic{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 10px 20px;
}
#picBox,#listBox{
	width: 700px;
	height: 350px;
	border: 1px solid red;
	box-sizing: border-box;
	overflow: hidden;
}
#picBox .cf{
	width: 3000px;
	overflow: hidden;
	box-sizing: border-box;
}
#picBox .cf li{
	width: 600px;
	height:350px ;
	float: left;
	border: 1px solid red;
	box-sizing: border-box;
}
#picBox .cf li a img,#listBox .cf li img{
	width: 100%;
	height: 100%;
}
#listBox .cf{
	width:750px ;
}
#listBox .cf li{
	width: 150px;
	height: 100px;
	float: left;
}
.btn1 span{
	width: 100px;
}
#select_value{
    border: 1px solid #95b8e7;
    height: 25px;
    border-radius: 5px;
    outline: none;
}
.kaohe{
	height: 30px;
    display: inline-block;
	line-height: 30px;
    width: 111px;
	background: no-repeat!important;
	border: none!important;
}
.kaohe:hover{
	background: #E6E6E6!important;
    color: #0C4EBF;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    width: 111px;
    border-radius: 5px;
}
.ihelp{
	display: inline-block;
    width: 17px;
    height: 16px;
    background: url(../images/model03_level02.png) no-repeat;
    background-position: 0px 0px;
    vertical-align: middle;
    margin-right: 2px;
}
/*系统权限管理*/
.input_tab{
	margin: 20px auto;
}
/*业务管理*/
.yewu_data,.mes_read,.ring_canshu{
	width: 20px;
	height: 20px;
	margin:-10px 0 0 52px;	
	background: url(../images/model07_level0.png) no-repeat;
	background-position: 0px -59px;
}
.mes_read{
	background-position: 0px -99px;
}
.ring_canshu{
	background-position: 0px -19px;
}
.left_padd div{
	text-align: left;
}

.mes_read{
	background-position: 0px -99px;
}
.ring_canshu{
	background-position: 0px -19px;
}
.accordion-header-selected .yewu_data{
	background-position: 0px -81px;
}
.accordion-header-selected .mes_read{
	background-position: 0px 0px;
}
.accordion-header-selected .ring_canshu{
	background-position: 0px -40px;
}
.ywgl li a span{
	width: 20px;
	height: 19px;
	vertical-align: middle;
	margin-right: 5px;
	background: url(../images/model07_level01.png) no-repeat;
}
.ywgl li a .span-icon1{
	background-position: 0px -323px;
}
.ywgl li a .span-icon2{
	background-position: 0px -305px;
}
.ywgl li a .span-icon3{
	background-position: 0px -341px;
}
.ywgl li a .span-icon4{
	background-position: 0px -143px;
}
.ywgl li a .span-icon5{
	background-position: 0px 1px;
}
.ywgl li a .span-icon6{
	background-position: 0px -233px;
}
.ywgl li a .span-icon7{
	background-position: 0px -287px;
}
.ywgl li a .span-icon8{
	background-position: 0px -396px;
}
.ywgl li a .span-icon9{
	background-position: 0px -72px;
}
.ywgl li a .span-icon10{
	background-position: 0px -17px;
}
.ywgl li a .span-icon11{
	background-position: 0px -54px;
}
.ywgl li a .span-icon12{
	background-position: 0px -35px;
}
.ywgl li a .span-icon13{
	background-position: 0px -431px;
}
.ywgl li a .span-icon14{
	background-position: 0px -126px;
}
.ywgl li a .span-icon15{
	background-position: 0px -197px;
}
.ywgl li a .span-icon16{
	background-position: 0px -270px;
}
.ywgl li a .span-icon17{
	background-position: 0px -108px;
}
.ywgl li a .span-icon18{
	background-position: 0px -413px;
}
.ywgl li a .span-icon19{
	background-position: 0px -251px;
}
.ywgl li a .span-icon20{
	background-position: 0px -89px;
}
.ywgl li a .span-icon21{
	background-position: 0px -161px;
}
.ywgl li a .span-icon22{
	background-position: 0px -377px;
}
.ywgl li a .span-icon23{
	background-position: 0px -360px;
}
.ywgl li a .span-icon24{
	background-position: 0px -215px;
}
.ywgl li a .span-icon25{
	background-position: 0px -180px;
}
/*查询*/
.icon-search,#mm i{
	width: 15px;
	height: 15px;
	background: url(../images/model01_level03.png) no-repeat;
	background-position: 0px -30px; 
}
#mm i{
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 0px 20px 0 3px;
}
#mm span{
	vertical-align: top;
}
#mm:hover{
	background: dodgerblue!important;
	border-radius:5px;
	cursor: pointer;
	color: #FFFFFF;
}
/*重置*/
.icon-cz_reset{
	width: 15px;
	height: 15px;
	background: url(../images/model01_level03.png) no-repeat;
	background-position: 0px -46px; 
}
/*处理*/
.icon-edit{
	width: 15px;
	height: 15px;
	background: url(../images/model01_level03.png) no-repeat;
	background-position: 0px 0px; 
}
/*导出*/
.icon-excel{
	width: 15px;
	height: 15px;
	background: url(../images/model01_level03.png) no-repeat;
	background-position: 0px -74px; 
}
/*添加监听任务*/
.icon-add{
	width: 15px;
	height: 15px;
	background: url(../images/model01_level03.png) no-repeat;
	background-position: 0px -60px; 
}
/*发送*/
.icon-redo{
	width: 15px;
	height: 14px;
	background: url(../images/model01_level03.png) no-repeat;
	background-position: 0px -17px; 
	margin-top: -18px;
}
/*返回*/
.icon-return{
	width: 15px;
	height: 15px;
	background: url(../images/return.png) no-repeat;
}
/*收藏*/
.icon-collect{
	width: 15px;
	height: 15px;
	background: url(../images/collect.png) no-repeat;
}
/*上传数据*/
.icon-impo{
	width: 15px;
	height: 15px;
	background: url(../images/import.png) no-repeat;
}
/*下载数据*/
.icon-down{
	width: 15px;
	height: 15px;
	background: url(../images/download.png) no-repeat;
}
/*删除*/
.icon-remove{
	width: 15px;
	height: 15px;
	background: url(../images/del_remove.png) no-repeat;
}
/*保存*/
.icon-ok{
	width: 15px;
	height: 15px;
	background: url(../images/model03_level02.png) no-repeat;
	background-position: 0px -16px; 
}
/*保存进入流程*/
.icon-d_dpsplb{
	width: 23px;
    height: 16px;
    background: url(../images/model03_level02.png) no-repeat;
    background-position: 0px -51px; 
}
/*高级调派*/
.icon-d_ydplb{
	width: 19px;
    height: 18px;
    background: url(../images/model03_level02.png) no-repeat;
    background-position: 0px -86px;
}
/*业务点管理*/
.icon-s_road{
	width: 18px;
    height: 18px;
    background: url(../images/safe_road.png) no-repeat;
}
/*上报*/
.icon-repo{
	width: 15px;
    height: 15px;
    background: url(../images/Reported.png) no-repeat;
}
/*按钮的颜色*/
.l-btn:hover {
  background: #054577;
  color: #FFFFFF;
  border: 1px solid #b7d2ff;
  filter: none;
}
/*表头样式*/
.datagrid-header-row {
			background: #89BCF1;
			color: #FFFFFF;
		}
/*上传数据表格样式*/
#dg_addTab {
	width: 100%;
	/*height: 300px;*/
	border: 1px solid gainsboro;
}

#dg_addTab tr th {
	height: 30px;
	background: #89BCF1;
	border-left: 1px solid gainsboro;
	color: #FFFFFF;
}

#dg_addTab tr td {
	height: 30px;
	text-align: center;
	border-bottom: 1px solid gainsboro; 
	border-left: 1px solid gainsboro; 
}
/*驾驶舱*/
.center_top{
	width: 100%;
	height:100%;
	box-sizing: border-box;
}
.center_ul,.car_center_ul{
	width: 100%;
	height:100%;
	margin: 0;
	padding: 0;
}
.center_ul li,.car_center_ul li{
	box-sizing: border-box;
	padding: 0 5px;
	width: 24.9%;
	height:45%;
	float: left;	
}
.car_center_ul li{
   width: 33%;	
}
.center_ul li:nth-child(5){
	width: 100%;
	height:55%;	
    background: url(../images/yuan.png) no-repeat;
    background-size:100% 100%;
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0;	
    overflow: hidden;
}
#dash .bottom{
	width: 100%;
	height: 50px;
	background: #0f9fe5;
	position: absolute;
	bottom: 0;
	left: 0;
}

#allmap{
	width: 100%;
	height: 100%;
	border-radius: 5px;
	background: #FFFFFF;
}
.message{
	width: 100%;
	height: 100%;
	position: relative;
}
.mes_top{
	width: 99.9%;
	height:7%;
	background: url(../images/tb_bg.png) repeat-x;
	background-size:100% 100%;
	padding-top: 1%;
	border: 1px solid gainsboro;
	border-bottom:0;
	box-sizing: border-box;
}
.mes_top span:nth-child(1){
	margin-left: 5px;
	font: 14px "微软雅黑";
}
.mes_top span:nth-child(2){
	width: 25px;
	color: #207DB2;
	float: right;
}
.mes_top .more_btn .btn_i{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../images/more_btn.png) no-repeat;
	background-size:100% 100%;
	vertical-align: middle;
}
.mes_top .more_btn1 .btn_i{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../images/close_btn.png) no-repeat;
	background-size:100% 100%;
	vertical-align: middle;
}
.mes_data{
	width: 100%;
	height:80%;
}
.mes_tab{
	width: 100%;
	height: 100%;
	border-left: 1px solid gainsboro;
	border-bottom: 1px solid gainsboro;
}
.mes_tab tr td{
	height: 3%;
	line-height: 3%;
	box-sizing: border-box;
	padding-left: 20px;
    border-top: 1px solid gainsboro;
    border-right: 1px solid gainsboro;   
}
.mes_tab tr:nth-child(2n-1){
	background: #F5F5F5;
}
.mes_tab tr:nth-child(1){
	background:#89BCF1;
	color: #FFFFFF;	
}
.hand1{
	width: 10%;
    height: 35%;
    position: absolute;
    bottom: 0px;
    left: -3%;
    background: url(../images/hand1.png) no-repeat;
    background-size: 100% 100%;
}
.hang_icon1{
	display: block;
	width: 100%;
    height:100%;
	position: relative;
}
.hang_icon1 span{
	position: absolute;
    display: inline-block;
    width: 15%;
    height: 40%;
    background: url(../images/hang_small.png) no-repeat;
    background-size: 100% 100%;
    top: 17%;
    left: 37%;
    transform-origin:50% 100%;
}
.hand2{
	width: 10%;
    height: 35%;
    position: absolute;
    bottom: 0px;
    right: -3%;
    background: url(../images/hand2.png) no-repeat;
    background-size: 100% 100%;
}
.hang_icon2{
	display: block;
	width: 100%;
    height:100%;
	position: relative;
}
.hang_icon2 span{
	position: absolute;
    display: inline-block;
    width: 15%;
    height: 40%;
    background: url(../images/hang_small.png) no-repeat;
    background-size: 100% 100%;
    top: 14%;
    left: 46%;
    transform-origin:50% 100%;
    
}
.hand3{
    width: 15%;
    height: 55%;
	position: absolute;
	bottom: 0px;
    left: 10%;
	background: url(../images/hand3.png) no-repeat;
    background-size: 100% 100%;
}
.hang_icon3{
	display: block;
	width: 100%;
    height:100%;
	position: relative;
}
.hang_icon3 span{
    position: absolute;
    display: inline-block;
    width: 74%;
    height: 15%;
    background: url(../images/hang_big.png) no-repeat;
    background-size: 100% 100%;
    top: 42%;
    left: 13%;
}
.hand4{
	width: 15%;
    height:55%;
	position: absolute;
	bottom: 0px;
    right: 10%;
	background: url(../images/hand4.png) no-repeat;
    background-size: 100% 100%;
}
.hang_icon4{
	display: block;
	width: 100%;
    height:100%;
	position: relative;
}
.hang_icon4 span{
    position: absolute;
    display: inline-block;
    width: 74%;
    height: 15%;
    background: url(../images/hang_big.png) no-repeat;
    background-size: 100% 100%;
    top: 42%;
    right: 13%;
    transform: rotate(-180deg);
}
.map_box{
	width: 46%;
    height: 88%;
    background: url(../images/bg_map.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    top: 10%;
    right: 0;
    bottom: 0;
    margin: 0px auto;
    box-sizing: border-box;
    padding: 20px;
}
/*视频*/
.video{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	overflow: hidden;
	background: #000000;
	
}
.video_ul{
	margin: 0;
	padding: 0;
	width: 100%;
	height:50%;
}
.video_ul li{
	width: 50%;
	height:100%;
	box-sizing: border-box;
	float: left;
	padding: 0px 10% 0 0;
}
.video_ul li:nth-child(2n-1){
	padding: 0px 0 0 10%;
}
/*天气预报*/
.sky_ul,.sky_left_ul{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
.sky_ul li,.sky_left_ul li{
	width: 29.5%;
	height: 100%;
	border: 1px solid #E1E1E1;
	box-sizing: border-box;
}
.sky_ul .sky_left{
	width: 69.5%;
	margin-left: 1%;
}
.sky_left_ul li{
	width: 50%;
}
.sky_top,.sky_bottom{
	width: 100%;
	height: 70%;
	position: relative;
}
.sky_top div:nth-child(1){
	position: absolute;
	top: 5%;
	left: 5%;
}
.sky_top div:nth-child(2){
	position: absolute;
	top: 22%;
	left: 13%;   
}
.sky_top div:nth-child(1) span{
	font-size: 18px;
}
.sky_top div:nth-child(3){
	position: absolute;
	top: 25%;
	right: 5%;
}
.sky_top div:nth-child(4){
	position: absolute;
	top: 52%;
	right: 16%;
}
.sky_top div:nth-child(3) span:nth-child(1){
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	background: url(../images/mes.png) no-repeat;
}
.sky_top .wendu{
	font: bold 60px "微软雅黑";
	color: lightskyblue;
}
.sky_bottom{
	height: 30%;
}

.bottom_mes1,.bottom_mes2{
	width: 100%;
	height: 50%;
	box-sizing: border-box;
	padding-top: 2%;
}
.bottom_mes1 i,.bottom_mes2 i{
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 16px;
	margin-right: 1%;
}
.bottom_mes1 p span,.bottom_mes2 p span{
	font:16px '宋体';
}
.bottom_mes1 .shidu{
	display: inline-block;
	width: 100px;
	margin-right: 13%;
}
.bottom_mes2 .wuran{
	display: inline-block;
	width: 100px;
	margin-right: 12%;
}
.bottom_mes1 i:nth-child(1){
	margin-left: 15%;
	background: url(../images/shidu.png) no-repeat;
}
.bottom_mes1 i:nth-child(3){
	background: url(../images/feng.png) no-repeat;
}
.bottom_mes2 i:nth-child(1){
	margin-left: 16%;
	background: url(../images/tree.png) no-repeat;
}
.bottom_mes2 i:nth-child(3){
	background: url(../images/car.png) no-repeat;
}
.sky_right div{
	width: 100%;
	text-align: center;
}
.sky_right div:nth-child(1){
	margin: 10% 0 5%;
}
.sky_right div:nth-child(2){
	width: 100%;
	height: 15%;
	margin: 10% auto;
}
.sky_right div:nth-child(2) span{
	display: inline-block;
	width:40%;
	height:100%;
	background: url(../images/yun.png)no-repeat;
	background-size:100% 100% ;	
}
.sky_right div:nth-child(3){
	width: 110px;
	margin: 10% auto;
}
.sky_right div:nth-child(4){
	font: 40px "微软雅黑";
	color: gray;
   margin: 10% auto;
}
.sky_right div:nth-child(5){
	margin: 10% auto;
}

.sky_right div:nth-child(6){
	margin: 10% auto;
}
.sky_right div:nth-child(5) span,.sky_right div:nth-child(6) span{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: pink;
	vertical-align: middle;
	margin-right: 10px;
	background: url(../images/taiyang.png) no-repeat;
}
.easyui-tree .panel-header,.panel-body{
	border: none;
}
.win_list{
	width: 100%;
	height:800px;
}
.win_list tr td:nth-child(2n-1){
	box-sizing: border-box;
	padding-left: 10px;
}
.win_list tr td .width2{
	width: 173px;
}
.clear_mes{
	width: 150px;
	position: relative;
}
.clearMess{
	width: 15px;
	height: 15px;
	background:url(../images/tagbox_icons.png) no-repeat;
	position: absolute;
	background-position: -16px 0;
	top: 4px;
	right: 20px;
}
